@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
}
.apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10% 15%;
}
body {
    background-color: #000000;
    color: #f6f6f6;
    height: 100vh;
    box-sizing: border-box;
}
strong {
    color: #22D4FD;
}
a {
    color: DodgerBlue;
}
.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.apresentacao__conteudo__titulo {
    font-family: 'Krona One', sans-serif;
    font-size: 36px;
}
.apresentacao__conteudo__texto {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}
.apresentacao__links {
    display: flex;
    justify-content: space-between;
}
.apresentacao__links__link {
    background-color: #22D4Fd;
    width: 280px;
    text-align: center;
    border-radius: 16px;
    font-size: 25px;
    padding: 21.5px 0;
    text-decoration: none;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    
}